<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases><!-- 定义别名 -->
		<package name="com.recruit.vo"/>
	</typeAliases>
	<mappers>
	<!-- 所有mapper文件填写位置 -->
	<mapper resource="com/recruit/vo/user.xml"/>
	<mapper resource="com/recruit/vo/muser.xml"/>
	<mapper resource="com/recruit/vo/team.xml"/>
	</mappers>
</configuration>